.title {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0 1rem 1rem;
    color: white;
  }
  .container {
    padding: 0 2rem;
    margin-bottom: 2rem;
    color: white;
  }
  .image {
    object-fit: cover;
    border: 2px solid black;
    transition: all 5s cubic-bezier(0.14, 0.96, 0.91, 0.6);
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2.5rem 1rem;
    place-items: center;
  }